name: curl

on:
  workflow_dispatch:
    inputs:
      arch:
        default: 'x64'
  push:
    tags: ['v*']

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git
          .\vcpkg\bootstrap-vcpkg.bat
      
      - name: Build curl
        run: |
          .\vcpkg\vcpkg install curl[openssl,libpsl,ssh,zlib] --triplet ${{ github.event.inputs.arch }}-windows-static
          .\vcpkg\vcpkg install curl[openssl,libpsl,ssh,zlib] --triplet ${{ github.event.inputs.arch }}-windows
      
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: vcpkg\packages\*.zip
