name: curl

on:
  workflow_dispatch:
    inputs:
      arch:
        default: 'x64'
  push:
    tags: ['v*']

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ github.event.inputs.arch }}
      
      - name: Run
        shell: cmd
        run: |
          cd C:\
          mkdir build
          cd build
          
          git clone --depth 1 https://github.com/madler/zlib.git
          git clone --depth 1 https://github.com/libssh2/libssh2.git
          git clone --depth 1 https://github.com/curl/curl.git
          
          cd zlib && nmake /f win32\Makefile.msc && copy *.lib .. && copy *.h .. && cd ..
          
          if "${{ github.event.inputs.arch }}"=="x64" (curl -L -o openssl.exe https://slproweb.com/download/Win64OpenSSL-3_0_13.exe) else (curl -L -o openssl.exe https://slproweb.com/download/Win32OpenSSL-3_0_13.exe)
          openssl.exe /silent /verysilent /dir=%CD%
          
          cd libssh2 && mkdir b && cd b
          cmake .. -G "Visual Studio 17 2022" -A ${{ github.event.inputs.arch == 'x64' && 'x64' || 'Win32' }} -DCMAKE_INSTALL_PREFIX=%CD%\..\.. -DCRYPTO_BACKEND=OpenSSL -DOPENSSL_ROOT_DIR=%CD%\..\..
          cmake --build . --config Release && cmake --install . && cd ..\..
          
          cd curl
          mkdir bs && cd bs
          cmake .. -G "Visual Studio 17 2022" -A ${{ github.event.inputs.arch == 'x64' && 'x64' || 'Win32' }} -DCMAKE_INSTALL_PREFIX=%CD%\..\..\static -DBUILD_SHARED_LIBS=OFF -DCMAKE_USE_OPENSSL=ON -DCMAKE_USE_LIBSSH2=ON -DUSE_ZLIB=ON -DOPENSSL_ROOT_DIR=%CD%\..\..
          cmake --build . --config Release && cmake --install . && cd ..
          
          mkdir bd && cd bd
          cmake .. -G "Visual Studio 17 2022" -A ${{ github.event.inputs.arch == 'x64' && 'x64' || 'Win32' }} -DCMAKE_INSTALL_PREFIX=%CD%\..\..\shared -DBUILD_SHARED_LIBS=ON -DCMAKE_USE_OPENSSL=ON -DCMAKE_USE_LIBSSH2=ON -DUSE_ZLIB=ON -DOPENSSL_ROOT_DIR=%CD%\..\..
          cmake --build . --config Release && cmake --install . && cd ..\..
          
          for /f %%i in ('git describe --tags --abbrev=0 2^>nul') do set VER=%%i
          if "%VER%"=="" set VER=latest
          set VER=%VER:curl-=%
          
          tar -acf libcurl-%VER%-%{{ github.event.inputs.arch }}-static.zip static
          tar -acf libcurl-%VER%-%{{ github.event.inputs.arch }}-shared.zip shared
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: C:\build\*.zip
